*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(3,0,45);
background: linear-gradient(45deg, rgba(3,0,45,1) 0%, rgba(80,191,214,1) 100%);
    font-family: sans-serif;


}

.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 60px);
}

.loginbox {
    width: 400px;
    height: 390px;
    background: #24252A;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 90px 30px;
    border-radius: 10px;
    shape-outside:circle();
    justify-content: center;
    margin-top: 50px;
}



.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

.loginbox input , button{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #176fd4;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #00aec1;
    color: #000;
    justify-self: center;
}


#signin{
  border: none;
  outline: none;
  height: 40px;
  background: #176fd4;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;



}

#signin:hover{
  color: #000;
  background: #00aec1;
  cursor: pointer;
  justify-self: center;
}

nav{
  background: #175AA2;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 45px;
  line-height: 80px;
  padding: 0 50px;
  padding-bottom: 5px;

  font-weight: bold;
  font-family: 'Lobster', cursive;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
  text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #fff;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
